{% extends 'log_screen/base.html' %}
{% load log_screen_extras %}

{% block title %}
    {% get_app_label %}

    {% if model_meta %}
        | {{ model_meta.verbose_name_plural }}
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="container-fluid my-5">
        <div class="row mb-3">
            <div class="col">
                <h2 class="display-6 text-center text-sm-start">{{ greeting_message|safe }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col col-12 col-md-4 col-lg-3 mb-4 mb-md-0">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col col-12">
                            {% if models_names %}
                                <div class="list-group">
                                    {% for model_name, verbose_name_plural in models_names %}
                                        {% if request.GET.model_name == model_name %}
                                            <a href="/" class="list-group-item list-group-item-action{% if request.GET.model_name == model_name %} active{% endif %}" {% if request.GET.model_name == model_name %}aria-current="true"{% endif %}>
                                                <i class="bi bi-stack me-1"></i>
                                                {{ verbose_name_plural }}
                                            </a>
                                        {% else %}
                                            <a href="/?model_name={{ model_name }}" class="list-group-item list-group-item-action">
                                                <i class="bi bi-stack me-1"></i>
                                                {{ verbose_name_plural }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if request.GET.model_name %}
                        <div class="row mt-3">
                            <div class="col col-12">
                                <form class="needs-validation" novalidate>
                                    <div class="input-group" data-bs-toggle="tooltip" data-bs-title="Ben henüz çalışmıyorum 😅">
                                        <input type="search" class="form-control" name="search-input" list="search-datalist" id="search-input" placeholder="{{ model_meta.verbose_name }} arayın..." required disabled>
                                        <button type="submit" class="btn btn-outline-primary" disabled>
                                            <i class="bi bi-search"></i>
                                            Ara
                                        </button>
                                    </div>
                                    
                                    {% if results %}
                                        <datalist id="search-datalist">
                                            {% for result in results %}
                                                <option value="{{ result }}"></option>
                                            {% endfor %}
                                        </datalist>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col col-12 col-md-8 col-lg-9{% if not request.GET.model_name %} d-flex align-items-center{% endif %}">
                {% if request.GET.model_name %}
                    {% include 'log_screen/include/data_table.html' %}
                {% else %}
                    <h4 class="h4 text-center text-muted m-0 w-100">Tabloları görüntülemek için <u class="d-none d-md-inline">soldaki</u><u class="d-inline d-md-none">yukarıdaki</u> tuşlara basınız.</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
