{% load static %}
{% load pwa %}
{% load log_screen_extras %}

<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Define page meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nazımcan İslam">
    <meta name="description" content="Personellerinizi ve projelerini yönetin.">
    <meta name="keywords" content="personel, personel kayıt, personel projeleri, müşteri kayıt">

    <!-- Set the page theme color for app theme color -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#0d6efd">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0d6efd">

    <!-- Title of page -->
    <title translate="no">{% block title %}{% get_app_label %}{% endblock title %}</title>

    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
    <!-- Import Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
 
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon_io/android-chrome-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon_io/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="icon" type="image/ico" href="{% static 'favicon_io/favicon.ico' %}">

    {# Put Django PWA head tags here #}
    {% progressive_web_app_meta %}

    <style>
        /* Enabled the browser light and dark themes. */
        :root {
            color-scheme: light dark;
        }

        /* Define the main tags height to viewport height */
        main {
            min-height: calc(100vh - 56px);
        }
    </style>

    <script>
        // Check system theme. If the theme is dark add a class to the root tag to make the page dark with Bootstrap.
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.querySelector('html').dataset.bsTheme = "dark";
        }

        // Add a listener for the system theme and sync the system theme with the Bootstrap theme.
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', ({ matches }) => {
            if (matches) {
                document.querySelector('html').dataset.bsTheme = "dark";
            } else {
                document.querySelector('html').dataset.bsTheme = "light";
            }
        });
    </script>
</head>

<body class="overflow-x-hidden overflow-y-scroll">
    <!-- Show a message to user open to page scripts -->
    <noscript class="alert alert-danger w-100 d-block text-center m-0 rounded-0">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong>Tarayıcınızın site ayarlarından <u>JavaScript</u> kapalı! Lütfen bu sayfayı doğru görüntüleyebilmek için bu ayarı açınız. Eğer açtıysanız sayfayı <u>yenileyiniz</u>.</strong>
    </noscript>

    <header class="sticky-top border-bottom">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
                    <img src="{% static 'favicon_io/apple-touch-icon.png' %}" alt="Logo" width="28" class="d-inline-block align-text-top me-0 me-sm-1"> <span class="d-none d-sm-inline-block" translate="no">{% get_app_label %} <small class="text-muted">v{% get_app_version %}</small></span>
                </a>
    
                <!-- Navbar toggler button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <!-- Home page link -->
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link {% if request.path == '/' %}active{% endif %} text-capitalize"{% if request.path == '/' %} aria-current="true"{% endif %}>
                                <i class="bi bi-house"></i>
                                <span>Anasayfa</span>
                            </a>
                        </li>

                        {# Show edit profile and settings links when user is authenticated #}
                        {# If there is not user, then show login and signup links #}
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'profile' %}" class="nav-link {% if request.path == '/profile/' %}active{% endif %} text-capitalize"{% if request.path == '/' %} aria-current="true"{% endif %}>
                                    <i class="bi bi-person"></i>
                                    <span>Profil</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="nav-link {% if request.path == '/login/' %}active{% endif %} text-capitalize"{% if request.path == '/' %} aria-current="true"{% endif %}>
                                    <span>Giriş Yap</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'signup' %}" class="nav-link {% if request.path == '/signup/' %}active{% endif %} text-capitalize"{% if request.path == '/' %} aria-current="true"{% endif %}>
                                    <span>Kayıt Ol</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
    
                    {# Show user control buttons when user is authenticated #}
                    {% if request.user.is_authenticated %}
                        <div class="d-flex gap-1">
                            {# Show admin panel link when authenticated user is super user #}
                            <ul class="navbar-nav">
                                {% if request.user.is_superuser %}
                                    <li class="nav-item">
                                        <a href="/admin/" class="nav-link text-capitalize">
                                            <i class="bi bi-person-lock"></i>
                                            <span>Admin Paneli</span>
                                        </a>
                                    </li>
                                {% endif %}

                                <li class="nav-item">
                                    <a data-bs-toggle="modal" data-bs-target="#logout-modal" role="button" class="nav-link text-capitalize">
                                        <i class="bi bi-box-arrow-left"></i>
                                        <span>Çıkış Yap</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
    
                    <!-- Application label for mobile devices -->
                    <div class="d-block d-sm-none">
                        <hr>
                        <h6 class="m-0" translate="no">{% get_app_label %} <small class="text-muted">v{% get_app_version %}</small></h6>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page content tag -->
    <main>
        <!-- Messages container -->
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    {# If there are messages, print them with a loop and Bootstrap classes. #}
                    {% if messages|length > 0 %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                                {{ message|safe }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        {# Dynamically determine the content part of the pages. #}
        {% block content %}{% endblock content %}
    </main>

    {# Create a exit accept modal when user is authenticated #}
    {% if request.user.is_authenticated %}
        <div class="modal fade" id="logout-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal heading and close button -->
                    <div class="modal-header">
                        <h5 class="modal-title">Çıkış Onay</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal message -->
                    <div class="modal-body">
                        <p>Hesabınızdan çıkış yapmak istediğinize emin misiniz?</p>
                    </div>

                    <!-- Modal controls -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <a href="{% url 'logout' %}" type="button" class="btn btn-primary">Evet, Eminim</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Page footer -->
    <footer class="container-fluid bg-body-tertiary border-top pt-5 px-0">
        <div class="container">
            <div class="row row-gap-1 justify-content-between justify-content-lg-center mb-5">
                <!-- App label and description -->
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="{% url 'index' %}" class="text-decoration-none d-inline-block mb-1">
                        <img src="{% static 'favicon_io/apple-touch-icon.png' %}" alt="Logo" width="28" class="d-inline-block">
                    </a>
                    <h6 class="m-0" translate="no">{% get_app_label %} <small class="text-muted">v{% get_app_version %}</small></h6>
                    <p class="text-muted m-0">Personellerinizi ve projelerini yönetin.</p>

                    <a href="https://www.analythinx.com/" class="text-decoration-none d-inline-block mt-1" target="_blank">
                        <img class="d-inline-block" style="max-width: 150px; height: auto; filter: drop-shadow(0 0 0.1rem #ffffff);" src="{% static 'images/logo400x200.png' %}">
                    </a>
                </div>

                <!-- Row division horizontal rule -->
                <div class="col d-block d-sm-none">
                    <hr>
                </div>

                <!-- Footer links -->
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4" translate="no">
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:nazimcan.islam@analythinx.com?subject={% get_app_label %} Hakkında" class="text-decoration-none link-primary">
                                <i class="bi bi-envelope-at-fill"></i>
                                <span>E-Posta Gönder</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/nazimcanislam/" class="text-decoration-none link-primary" target="_blank">
                                <i class="bi bi-linkedin"></i>
                                <span>Geliştirici</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/nazimcanislam/employee-log-screen" class="text-decoration-none link-primary" target="_blank">
                                <i class="bi bi-github"></i>
                                <span>GitHub Kaynak Kodu</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:nazimcan.islam@analythinx.com?subject={% get_app_label %} Hata Bildirim" class="text-decoration-none link-primary">
                                <i class="bi bi-bug-fill"></i>
                                <span>Hata Bildir</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'help' %}" class="text-decoration-none link-primary disabled">
                                <i class="bi bi-question-square-fill"></i>
                                <span>Yardım</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Footer copyright -->
        <div class="container-fluid p-0 py-2 text-center border-top">
            <div class="row m-0">
                <div class="col">
                    <span><strong>Analythinx</strong> &bull; {% get_app_label %} &bull; 2023</span>
                </div>
            </div>
        </div>
    </footer>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
        })()

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        // Making currency
        const moneyNumbers = document.querySelectorAll('.money-number');
        moneyNumbers.forEach(moneyNumber => {
            moneyNumber.innerText = Number(moneyNumber.innerHTML.replace(',', '.')).toLocaleString('tr-TR');
        });
    </script>
</body>

</html>
