<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col col-12 col-lg-8">
            <h2 class="h2">Parola Değiştir</h2>
            <hr>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="current-password-input" class="form-label">Mevcut Parola</label>
                    <input type="password" class="form-control" name="current-password-input" id="current-password-input" autocomplete="current-password" minlength="8" required>

                    <p class="mt-1">
                        <a href="{% url 'profile_password_forget' %}" class="link-primary text-decoration-none">
                            <i class="bi bi-box-arrow-up-right"></i>
                            Mevcut parolanızı hatırlamıyor musunuz?
                        </a>
                    </p>
                </div>

                <div class="mb-3">
                    <label for="new-password-input" class="form-label">Yeni Parola</label>
                    <input type="password" name="new-password-input" class="form-control" id="new-password-input" autocomplete="new-password" aria-describedby="new-password-help" required>
                    <div id="new-password-help" class="form-text">
                        <ul>
                            <li>En az 8 karakter içermelidir.</li>
                            <li>En az 1 büyük harf içermelidir.</li>
                            <li>En az 1 sayı içermelidir.</li>
                        </ul>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="new-password-again-input" class="form-label">Yeni Parola Tekrar</label>
                    <input type="password" class="form-control" name="new-password-again-input" id="new-password-again-input" autocomplete="new-password" minlength="8" required>
                </div>

                <div class="d-grid d-sm-block">
                    <button type="submit" role="button" class="btn btn-primary">
                        <i class="bi bi-pencil-square"></i>
                        Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
