{% load log_screen_extras %}

<div class="container-fluid p-0">
    <div class="row mb-3 px-1">
        <div class="col col-12 col-sm-8 text-center text-sm-start">
            <p class="lead m-0">
                <strong>{{ model_meta.verbose_name }}</strong> düzenlemek için <strong data-bs-toggle="tooltip" data-bs-title="Tablo üzerindeki verileri düzenlemek için en sağdaki tuşa basınız." class="text-nowrap"><i class="bi bi-pencil-square"></i> Düzenle</strong>'ye tıklayın.
            </p>
        </div>
        <div class="col col-12 col-sm-4 text-center text-sm-end mt-3 mt-sm-0 d-grid d-sm-block">
            <a href="{% url 'add' model_name=model_meta.model_name %}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="{{ model_meta.verbose_name }} ekleme sayfasını aç">
                <i class="bi bi-plus-lg"></i>
                <strong>{{ model_meta.verbose_name }}</strong>
                Ekle
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col overflow-x-auto">
            {% if results %}
                <table class="table table-striped table-hover text-nowrap">
                    <caption>{{ model_meta.verbose_name_plural }} Tablosu</caption>
                    <thead>
                        <tr>
                            {% for field in model_meta.fields %}
                                {% if field.verbose_name != 'ID' and field.verbose_name != 'Kullanıcı' %}
                                    <th scope="col">{{ field.verbose_name }}</th>
                                {% endif %}
                            {% endfor %}
                            <th scope="col">Eylem</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for result in results %}
                            <tr>                                
                                {% for field in result|get_attribute:"_meta"|get_attribute:"fields" %}
                                    {% if field.verbose_name != 'ID' and field.verbose_name != 'Kullanıcı' %}    
                                        <td>
                                            {% if result|get_attribute:field|to_str == 'True' %}
                                                <i class="bi bi-check-square-fill text-success"></i>
                                            {% elif result|get_attribute:field|to_str == 'False' %}
                                                <i class="bi bi-x-square-fill text-danger"></i>
                                            {% elif result|get_attribute:field %}
                                                {{ result|get_attribute:field }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                
                                <td>
                                    <a href="{% url 'edit' model_name=result|get_attribute:'_meta'|get_attribute:'model_name' _id=result.id %}" class="link-primary text-decoration-none text-nowrap" data-bs-toggle="tooltip" data-bs-title="Düzenle: {{ result }}">
                                        <i class="bi bi-pencil-square"></i>
                                        Düzenle
                                    </a>
                                </td> 
                            </tr>
                        {% endfor %}
                        {{ forloop.count }}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100%">Toplamda {{ results|length }} adet {{ model_meta.verbose_name }} var.</td>
                        </tr>
                    </tfoot>
                </table>
            {% else %}
                <h4 class="h4 text-center">Vay canına! Hiç <u>{{ model_meta.verbose_name }}</u> yokmuş 😳<br>Yukarıdaki <u>{{ model_meta.verbose_name }} Ekle</u> tuşu ile ekleme yapabilirsiniz!</h4>
            {% endif %}
        </div>
    </div>
    {% if results %}
        <div class="row">
            <div class="col col-12r">
                <nav>
                    <ul class="pagination" data-bs-toggle="tooltip" data-bs-title="Ben henüz çalışmıyorum 😅" style="width: max-content;">
                        <li class="page-item">
                            <a href="#" class="page-link disabled">Önceki</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link disabled">1</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link disabled">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link disabled">3</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link disabled">4</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link disabled">5</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link disabled">Sonraki</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
</div>
